[submodule "personal/.config/nvim"]
	path = personal/.config/nvim
	url = https://github.com/crockesh/nvim.git
[submodule "work/.config/nvim"]
	path = work/.config/nvim
	url = https://github.com/crockesh/nvim.git
